<%- include('../partials/header'); %>

<!-- Main -->
<main class="main main-home">
    <div class="container">
        <h2 class="h2-title">President's API</h2>
        <p class="sample-api-p">This is a President's API made with out a database using an SAMPLE API to supply the data.</p>

        <img src="http://cdn.shopify.com/s/files/1/2553/8356/articles/united-states-constitution.jpg?v=1517875448" class="" width="1120" alt="xbox">
        <hr>
        <p><span class="first-letter">The United States Presidency</span>  was established in 1789 with the inauguration of George Washington as the first President of the United States. However, the process of creating the presidency began with the drafting of the United States Constitution in 1787.

            The Founding Fathers of the United States, who drafted the Constitution, were keenly aware of the need for a strong executive branch to balance the powers of the legislative and judicial branches. They believed that a strong, independent president would be able to provide leadership and stability for the new nation.
            
            The Constitution created the office of the President and provided for a system of presidential elections through the Electoral College. Under this system, each state would appoint a certain number of electors, who would then vote for the President. The candidate who received the majority of the electoral votes would be elected President.
            
            The Constitution also provided for a four-year term of office for the President, with the possibility of re-election for an additional term. The President was given the power to veto legislation passed by Congress, as well as the power to appoint judges and other officials with the advice and consent of the Senate.
            
            Since the establishment of the presidency, the powers and responsibilities of the office have evolved and expanded over time, as have the methods of presidential elections and the requirements for holding the office. However, the basic framework established by the Constitution has remained largely intact, and the presidency has played a central role in shaping the history of the United States.</p>
    </div>
</main>
<!-- End Main -->

<%- include('../partials/footer'); %>